extends ../layout

block content
  .row.py-5
    .col-lg-3
    .col-lg-6.text-center
      h2.mb-4 3D Printing Portfolio

      p.lead.mb-4
        | My 3D printing models and designs are hosted on Printables.com

      img.img-fluid.mb-4(src="/images/3D-printer.png" alt="3D Printing" style="max-width: 400px;")

      p.mb-4
        | In my spare time I also enjoy 3D modeling as a creative outlet. My main focus are functional parts: parts for my telescope, holders, raspberry pi cases etc...

      p.tags.mb-4
        | Topics: CAD-modeling, Fusion360, creativity, design, usability

      a.btn.btn-primary.btn-lg(href="https://www.printables.com/@MateoVanDamme_195493" target="_blank" rel="noopener noreferrer" style="background-color: rgb(238, 48, 47); border:none;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16" style="margin-right: 8px;")
          path(fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z")
          path(fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z")
        | Visit My Printables Profile

      p.text-muted.mt-3
        small You will be redirected to Printables.com

    .col-lg-3
