extends ../layout

block content
  .d-flex.flex-column.mb-4
    p.lead.text-center To complete my bacherlor degree at UGent my team created a software solution for Jan De Nul Group from scratch. A drone flies above buoys with a sensor suite including GPS and a live camera feed. This information is later used to triangulate the GPS coordinates. The code and system architecture are unfortunately proprietary.

    .d-flex.gap-3.mb-5.justify-content-center.align-items-stretch
      .lead.d-flex.align-items-center Team members:

      a.btn.btn-primary(href="https://www.linkedin.com/in/jordi-thijsman-37b14b194/" target="_blank" rel="noopener noreferrer" style="background-color: rgb(0, 130, 202); border:none;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" viewBox="0 0 16 16")
          path(d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z")
        |  Jordi Thijsman

      a.btn.btn-primary(href="https://www.linkedin.com/in/arthurisaac/" target="_blank" rel="noopener noreferrer" style="background-color: rgb(0, 130, 202); border:none;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" viewBox="0 0 16 16")
          path(d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z")
        |  Arthur Isaac

      a.btn.btn-primary(href="https://www.linkedin.com/in/barre-d-haeseleer-08a3b7194/" target="_blank" rel="noopener noreferrer" style="background-color: rgb(0, 130, 202); border:none;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" viewBox="0 0 16 16")
          path(d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z")
        |  Barre D'Haeseleer

      button.btn.btn-primary(disabled style="background-color: rgb(0, 130, 202); border:none;")
        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="16" fill="currentColor" viewBox="0 0 16 16")
          path(d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z")
        |  Wout Vercauter

  .row
    .col-lg-6
      .card.mb-4
        .card-body
          h5.card-title Problem description
          p.card-text
            | Jan De Nul is a large dredging company based in Aalst. The company aims to investigate
            | whether it can determine the exact location of buoys at sea using drones. Currently, buoy
            | measurements are done manually from boats, which is time-consuming and hazardous.
            br
            br
            | The automation of this measurement is achieved through a mobile application and a ground
            | station. On the ground station, buoys are recognized, and their locations are calculated.
            | The drone pilot can control the drone and read the location of the selected buoy using the
            | application. The buoy's location is continuously adjusted, and when the buoy appears to
            | drift out of view, the drone is directed to automatically centralize the image. All software
            | on the ground station can run in containers.

      .card.mb-4
        .card-body
          h5.card-title Grades
          .row
            .col-6
              b Group evaluation
              ul
                li Final product client: 15/20
                li Analysis & design: 16/20
                li Testing: 12/20
                li Installation guide: 14/20
                li Code: 18/20
                li Presentations client: 17/20
                li Final grade: 15/20
            .col-6
              b Peer evaluation
              ul
                li Quality of code: 17/20
                li Teamwork: 15/20
                li Workload contribution: 20/20.

    .col-lg-6
      .card.mb-4
        img.card-img(src="/images/bachelor-project-JDN/Dall-E/beaching2.jpg" alt="Bachelor project image")
