name: Deploy to GCP VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VM via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            cd website-node
            git pull
            docker build -t website .
            docker stop website-container || true
            docker rm website-container || true
            docker run -d -p 80:3000 --restart=always --name website-container website
            echo 'Deployment successful!'
